.product-item {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  width: 100%;
  .product-list-detail {
    flex: 1 1 0;
  }
  .product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  .product-category {
    vertical-align: middle;
    line-height: 1;
  }
}
.product-badge.status-outofstock {
  background: #ffcdd2;
  color: #c63737;
}
.product-badge.status-lowstock {
  background: #feedaf;
  color: #8a5340;
}
.product-badge.status-instock {
  background: #c8e6c9;
  color: #256029;
}
