<div class="main-page-body">
  <div class="p-grid">
    <div class="p-col">
      <p-password
        [(ngModel)]="password"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="width-p-100"
        inputStyleClass="width-p-100"
      ></p-password>
    </div>
    <div class="p-col">
      <p-rating [(ngModel)]="ratingValue"> </p-rating>
    </div>
    <div class="p-col">
      <p-rating
        [ngModel]="ratingValue"
        readonly="true"
        [cancel]="false"
      ></p-rating>
    </div>
    <div class="p-col">
      <p-paginator
        [rows]="10"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      ></p-paginator>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <p-autoComplete
        [(ngModel)]="selectedCountryAdvanced"
        [suggestions]="filteredProdcut"
        field="name"
        (completeMethod)="filterProduct($event)"
        [dropdown]="true"
        [multiple]="true"
      >
      </p-autoComplete>
    </div>
    <div class="p-col">
      <p-cascadeSelect
        [(ngModel)]="selectedCity"
        [options]="countries"
        optionLabel="cname"
        optionGroupLabel="name"
        [optionGroupChildren]="['states', 'cities']"
        [style]="{ minWidth: '14rem' }"
        placeholder="Select a City"
      ></p-cascadeSelect>
    </div>
    <div class="p-col">
      <p-calendar
        [(ngModel)]="date"
        [showIcon]="true"
        showButtonBar="true"
        inputId="icon"
      ></p-calendar>
    </div>
    <div class="p-col">
      <p-calendar
        [(ngModel)]="date"
        [showIcon]="true"
        showButtonBar="true"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="1992:2030"
        inputId="icon2"
      ></p-calendar>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
    </div>
    <div class="p-col">
      <p-toast></p-toast>
      <button
        type="button"
        pButton
        pRipple
        (click)="showSuccess()"
        label="Success"
        class="p-button-success p-mb-2 p-mr-2"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        (click)="showInfo()"
        label="Info"
        class="p-button-info p-mb-2 p-mr-2"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        (click)="showWarn()"
        label="Warn"
        class="p-button-warning p-mb-2 p-mr-2"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        (click)="showError()"
        label="Error"
        class="p-button-danger p-mb-2"
      ></button>
    </div>
    <div class="p-col">
      <h5>Basic</h5>
      <p-chips [(ngModel)]="values"></p-chips>

      <h5>Comma Separator</h5>
      <p-chips [(ngModel)]="values" separator=","></p-chips>
    </div>
    <div class="p-col">
      <p-tabView>
        <p-tabPanel header="Header 1"> Content 1 </p-tabPanel>
        <p-tabPanel header="Header 2"> Content 2 </p-tabPanel>
        <p-tabPanel header="Header 3"> Content 3 </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <h5>Template Mode</h5>
      <p-multiSelect
        [options]="countries"
        [(ngModel)]="selectedCities"
        defaultLabel="Select a City"
        optionLabel="name"
        selectedItemsLabel="{0} items selected"
      ></p-multiSelect>

      <h5>Elipsis Mode</h5>
      <p-multiSelect
        [options]="countries"
        [(ngModel)]="selectedCities"
        defaultLabel="Select a City"
        optionLabel="name"
      ></p-multiSelect>

      <h5>Chips</h5>
      <p-multiSelect
        [options]="countries"
        [(ngModel)]="selectedCities"
        defaultLabel="Select a City"
        optionLabel="name"
        display="chip"
      ></p-multiSelect>
    </div>
    <div class="p-col">
      <span>Basic</span>
      <p-inputMask
        mask="99-999999"
        [(ngModel)]="value"
        placeholder="99-999999"
      ></p-inputMask>
    </div>
    <div class="p-col">
      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    </div>
    <div class="p-col">
      <h5>Basic: {{ val }}</h5>
      <p-slider [(ngModel)]="val"></p-slider>

      <h5>Input: {{ val }}</h5>
      <input type="text" pInputText [(ngModel)]="val" readonly />
      <p-slider [(ngModel)]="val"></p-slider>

      <h5>Step: {{ val }}</h5>
      <p-slider [(ngModel)]="val" [step]="20"></p-slider>

      <h5>Range: {{ 20 + " - " + 60 }}</h5>
      <p-slider [(ngModel)]="val" [range]="true"></p-slider>

      <h5>Vertical: {{ val }}</h5>
      <p-slider [(ngModel)]="val" orientation="vertical"></p-slider>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <p-table
        #dataTableProduct
        [columns]="cols"
        [value]="products"
        selectionMode="single"
        [(selection)]="selectedProduct"
        dataKey="id"
        [scrollable]="true"
        styleClass="p-datatable-sm p-datatable-gridlines"
        [paginator]="true"
        [rows]="25"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['name', 'category', 'inventoryStatus']"
      >
        >
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <label>Products</label>
            <button
              type="button"
              pButton
              icon="pi pi-file-o"
              (click)="exportCSV(dataTableProduct)"
              class="p-mr-2 p-ml-2"
            ></button>
            <button
              type="button"
              pButton
              icon="pi pi-file-o"
              (click)="dataTableProduct.exportCSV()"
              class="p-mr-2"
            ></button>

            <button
              pButton
              label="Clear"
              class="p-button-outlined p-ml-2"
              icon="pi pi-filter-slash"
              (click)="clear(dataTableProduct)"
            ></button>
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="
                  dataTableProduct.filterGlobal($event.target.value, 'contains')
                "
                placeholder="Search keyword"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="name"
                display="menu"
              ></p-columnFilter>
            </th>
            <th pSortableColumn="price">
              Price <p-sortIcon field="price"></p-sortIcon>
              <p-columnFilter
                type="numeric"
                field="price"
                display="menu"
                currency="USD"
              ></p-columnFilter>
            </th>
            <th pSortableColumn="category">
              Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="rating">
              Reviews <p-sortIcon field="rating"></p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus">
              Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
              <p-columnFilter
                field="inventoryStatus"
                matchMode="equals"
                display="menu"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-dropdown
                    [ngModel]="value"
                    [options]="statuses"
                    (onChange)="filter($event.value)"
                    placeholder="Any"
                  >
                    <ng-template let-option pTemplate="item">
                      <span [class]="'customer-badge status-' + option.value">{{
                        option.label
                      }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr [pSelectableRow]="product">
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency: "USD" }}</td>
            <td>{{ product.category }}</td>
            <td>
              <p-rating
                [ngModel]="product.rating"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </td>
            <td>
              <span>{{ product.inventoryStatus }}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col">
      <p-progressSpinner
        [style]="{ width: '50px', height: '50px' }"
        styleClass="custom-spinner"
        strokeWidth="3"
        fill="#EEEEEE"
        animationDuration=".5s"
      ></p-progressSpinner>
    </div>
    <div class="p-col">
      <div class="card">
        <h5>Dynamic</h5>
        <p-progressBar [value]="40"></p-progressBar>

        <h5>Static</h5>
        <p-progressBar [value]="50"></p-progressBar>

        <h5>Indeterminate</h5>
        <p-progressBar
          mode="indeterminate"
          [style]="{ height: '6px' }"
        ></p-progressBar>
      </div>
    </div>
  </div>
</div>
