.p-cascadeselect {
  align-items: center;
  height: 32px;
}
.p-cascadeselect-panel
  .p-cascadeselect-items
  .p-cascadeselect-item
  .p-cascadeselect-item-content:focus {
  box-shadow: inset 0 0 0 0.15rem var(--app-secondary-color);
  background: var(--app-secondary-color);
}

.p-cascadeselect-panel
  .p-cascadeselect-items
  .p-cascadeselect-item.p-highlight {
  background: var(--app-secondary-color);
  color: var(--app-light-text-color);
}
