.p-slider .p-slider-handle {
  background: var(--app-secondary-color);
  border: 2px solid var(--app-secondary-color);
}
.p-slider .p-slider-range {
  background: var(--app-secondary-color);
}
.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: var(--app-secondary-color);
  border-color: var(--app-secondary-color);
}
