.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: var(--app-light-text-color);
  background: var(--app-secondary-color);
}
.p-multiselect.p-multiselect-chip .p-multiselect-token {
  color: var(--app-light-text-color);
  background: var(--app-secondary-color);
}
