//Input Text
.p-inputtext {
    max-height: 32px !important;
    font-size: 0.875rem !important;
    padding: 0.5rem 0.7rem;
    color: var(--app-dark-text-color) !important;
  }
  
  .p-inputtext:enabled:focus{
    border-color: var(--app-secondary-color) !important;
  }
  
  .p-inputtext:hover{
    box-shadow: 0 0 0 0.05rem var(--app-secondary-color) !important;
  }
  
  //Input Left Icon
  .p-input-icon-left > i:first-of-type {
    left: 0.7rem;
    color: var(--app-data-label-color);
  }
  
  .p-input-icon-left > i.pi {
    padding-top: 1.5px;
    font-size: 0.875rem !important;
  }
  
  .p-input-icon-left > .p-inputtext {
    padding-left: 2rem;
  }
  
  .p-custom-input {
    width: 100%;
  }
  
  .p-float-label > label {
    font-size: 0.875rem !important;
    left: 0.7rem;
    color: var(--app-data-label-color);
  }