<div class="main-page-body">
    <div class="p-grid">
        <div class="p-col">
            <input type="text" pInputText class="p-inputtext-sm p-custom-input" placeholder="Enter Section Title"> 
        </div>
        <div class="p-col">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText class="p-custom-input"> 
                <label for="float-input">Username</label>
            </span>
        </div>
        <div class="p-col">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search" class="p-custom-input">         
            </span>
        </div>
        <div class="p-col">
            <span class="p-input-icon-right">
                <i class="pi pi-spin pi-spinner"></i>
                <input type="text" pInputText class="p-custom-input">        
            </span> 
            
        </div>
    </div>
</div>
