:root {
  --app-primary-color: #034ea1;
  --app-secondary-color: #045fc8;

  --app-background-color: #f5f6fa;
  --app-secondary-background-color: #ffffff;
  --app-border-color: #ced4da;

  --app-content-header-color: #e7e7f5;
  --app-content-footer-color: #e7e7f5;

  --app-dark-text-color: #212b46;
  --app-light-text-color: #e3ecff;
  --app-data-label-color: #6c757d;

  --app-info-color: #045fc8;
  --app-success-color: #0cac49;
  --app-warnning-color: #f5c400;
  --app-danger-color: #dc3545;
  --app-danger-color-2: #d33939;
}
