:root {
  --app-primary-color:#034EA1;
  --app-secondary-color:#045FC8;
  
  --app-background-color:#F5F6FA;
  --app-secondary-background-color:#FFFFFF;
  --app-border-color:#ced4da;

  --app-dark-text-color:#212b46;
  --app-light-text-color:#E3ECFF;
  --app-data-label-color:#6c757d;

  
  --app-info-color:#045FC8;
  --app-success-color:#0CAC49;
  --app-warnning-color:#F5C400;
  --app-danger-color:#DC3545;
  --app-danger-color-2:#D33939;
}